.teacherContainer{
  padding: 170px 40px 0px 40px; 
}

.logoDako{
  display: flex;
  justify-content: center;
}

.UserPass{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
}

.formContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.InputField{
  width: 80%;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  padding: 5px 5px;
}

.loginButton{
  display: flex;
  height: 34px;
  padding: 9px 38px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background: #C8ECB8;

  color: #0A4610;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.forgotPassword{
  margin-top: 8px;

  color: #000;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}